<!DOCTYPE html>
<html>
<head>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="login_validate.js"></script> 
	<link rel="stylesheet" type="text/css" href="login_style.css"></a>
</head>
<body>

		<div class="header">
			<h1 align="center">Book Store</h1>			
		</div>
		
		<div class="login-form">
		    <form name="login" id="login" align="center" method="post" action="/login">
		        <h2 class="text-center">Log in</h2>
		        <% if(message == "Successfully registered. Please login") { %>
		        	<div id="error" name="error" align="center" class="alert alert-success" > <%= message %> </div>
		        <% } else if(message) { %>
					<div id="error" name="error" align="center" class="alert alert-danger" > <%= message %> </div>
				<% } %>
					<div name="emailmessage" align="center" class="alert alert-info" id="emailmessage" hidden=""></div>       
		        <div class="form-group">
		            <input type="email" id="email" name="email" class="form-control" placeholder="Email-id">
		        </div>
		        <div class="form-group">
		            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
		        </div>
		        <div class="form-group">
		            <button type="button" id="validate" onclick="login_valid()" class="btn btn-primary btn-block">Log in</button>
		       		<button type="Submit" id="submit" hidden></button>
		        </div>
		        <div class="clearfix">
		           	<a href="http://localhost:3000/signup">Create an Account</a>
		        </div>        
		    </form>
		    
		</div>
			  
</body>
</html>